<!--this page heavily borrows from others in order to meet a deadline, class names are mostly incoherent, due to the fact they were made to fit another page.-->

<!DOCTYPE html>
<html lang="pt-br">
<head> <!--copied from home, might have redundancies-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoCapiba Dashboard</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="dashboard-container">
    <header class="app-header">
        <div class="logo">
            <h1>EcoCapiba - Gerador de QR Code</h1>
        </div>
    </header>


    <section class="card quiz-section">
            <h2>Selecione o QR Code desejado</h2>
            
            <div class="quiz-item quiz-active">
                <div class="quiz-info">
                    <h3>300 XP</h3>
                </div>
                <button class="btn btn-primary" id="button1" onclick="show_qr1()">Gerar</button>

                <script>
                    function show_qr1() {
                        document.getElementById("qr_image").style.display = "block"
                        document.getElementById("qr_image").src = "../assets/300_xp_qrcode.png"
                        document.getElementById("result_phrase").textContent = "Escaneie aqui:"
                    }
                </script>
            </div>
            <div class="quiz-item quiz-active">
                <div class="quiz-info">
                    <h3>1000 XP</h3>
                </div>
                <button class="btn btn-primary" id="button2" onclick="show_qr2()">Gerar</button>

                <script>
                    function show_qr2() {
                        document.getElementById("qr_image").style.display = "block"
                        document.getElementById("qr_image").src = "../assets/1000_xp_qrcode.png"
                        document.getElementById("result_phrase").textContent = "Escaneie aqui:"
                    }
                </script>
            </div>
            <div class="quiz-item quiz-active">
                <div class="quiz-info">
                    <h3>2500 XP</h3>
                </div>
                <button class="btn btn-primary" id="button3" onclick="show_qr3()">Gerar</button>

                <script>
                    function show_qr3() {
                        document.getElementById("qr_image").style.display = "block"
                        document.getElementById("qr_image").src = "../assets/2500_xp_qrcode.png"
                        document.getElementById("result_phrase").textContent = "Escaneie aqui:"
                    }
                </script>
            </div>
    
    </section>

    <aside>
        <section class="card quiz-section">
            <div class="quiz-item quiz-active">
                <h3 id="result_phrase">Selecione seu QR Code</h3>
                <img id="qr_image" src="../assets/300_xp_qrcode.png" class="qrcode" style ="display:none">

            </div>
        </section>
    </aside>

</div>

</body>
</html>